<h1> <%= @user.name %> microposts </h1>

<% if @microposts.empty? %>
	<p> No microposts </p>
<% else %>


	<%= paginate @microposts %>

	<table class="microposts" summary="all microposts">
		<%= render @microposts %>
	</table>

	<%= paginate @microposts %>
<% end %>
